/* Override live server CSS file */
* {
  margin: 0;
  padding: 0;
}

/* Top header */
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#header-left-part {
  display: flex;
  gap: 10px;
  align-items: center;
}

#learn-more {
  padding: 4px 5px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f6f6f6;
  color: rgb(37, 121, 255);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.plus-icon {
  font-size: 20px;
}

#create-virtual-card {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 6px;
}

/* Tabs */
#tabs {
  margin-top: 24px;

  border-bottom: 1px solid rgb(189, 182, 182);
  display: flex;
  justify-content: space-between;
}

#tabs-left-part {
  /* Tab container */
  display: flex;
  gap: 10px;
}

.tab-item {
  color: grey;
  padding: 10px;
  user-select: none;
  cursor: pointer;
}

.tab-item--selected {
  color: black;
  border-bottom: 2px solid orangered;
}

/* Filters */
#filters {
  display: flex;
  justify-content: flex-end;
}

/* Listing */

:root {
  --design-pink-red: #eb4869;
  --design-green: #49935a;
  /* PinkRed = "#EB4869", */
  /* Green = "#49935A", */
  --card-icon-size: 24px;
}

.card {
  color: grey;
  padding: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
  border-radius: 4px;
}

.card-top-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-name {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.card-icon-container {
  padding: calc(var(--card-icon-size) * 0.5);
  border-radius: 50%;
  background-color: rgb(252, 246, 246);
}

.card-icon {
  height: var(--card-icon-size);
}

.card-type-and-expiry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.card-type {
  border: 1.6px solid grey;
  border-radius: 4px;
  padding: 2px 4px;
  font-weight: 500;
}

.money-bullet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  color: black;
  font-weight: 530;
}

.money-bullet-label {
  flex-grow: 1;
}

.colored-circle {
  border-radius: 50%;
  height: 10px;
  aspect-ratio: 1;
}

.colored-circle--red {
  background-color: var(--design-pink-red);
}

.colored-circle--green {
  background-color: var(--design-green);
}
