/* Override live server CSS file */
* {
  margin: 0;
  padding: 0;
}

/* Top header */
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#header-left-part {
  display: flex;
  gap: 10px;
  align-items: center;
}

#learn-more {
  padding: 4px 5px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f6f6f6;
  color: rgb(37, 121, 255);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.plus-icon {
  font-size: 20px;
}

#create-virtual-card {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 6px;
}

/* Tabs */
#tabs {
  margin-top: 24px;

  border-bottom: 1px solid rgb(189, 182, 182);
  display: flex;
  justify-content: space-between;
}

#tabs-left-part {
  /* Tab container */
  display: flex;
  gap: 10px;
}

.tab-item {
  color: grey;
  padding: 10px;
  user-select: none;
  cursor: pointer;
}

.tab-item--selected {
  color: black;
  border-bottom: 2px solid orangered;
}

/* Filters */
/* Listing */